.login-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;

  .login-banner-wrapper {
    position: relative;
    flex: 1;
    background-image: url('./assets/login-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 1440px;

    .login-banner {
      position: absolute;
      width: 75%;
      bottom: 5%;
      top: 5%;
      left: 60px;
      max-width: 600px;

      &-header {
        font-size: 28px;
        font-weight: 700;
        color: #3d3d3d;
        margin-bottom: 28px;
      }

      &-content {
        margin-left: 48px;
        font-size: 16px;
        line-height: 40px;
        color: #707a89;
        margin-bottom: 24px;
      }
    }
  }

  .login-box {
    width: 36%;
    height: 100%;
    background-color: #fff;
    position: relative;

    &-header {
      position: absolute;
      top: 0;
      right: 20px;
      left: 20px;
      height: 80px;
      padding-top: 18px;
      background-color: #fff;
      z-index: 2;

      &-logo {
        display: none;
      }

      .help-box {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
          background: #e8f0ff;
        }
      }
    }

    &-content {
      padding: 160px 0 36px;
      height: 100%;
      overflow: auto;

      .login-inner-box {
        width: 360px;
        margin: auto 25% auto auto;

        &-product {
          &-name {
            margin-top: 24px;
            margin-bottom: 8px;
            font-size: 24px;
            color: #495060;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &-form-wrapper {
          position: relative;
          margin: 8% auto 70px;

          .login-inner-box-type-tabs {
            .ix-tabs-nav {
              width: 100%;
              .ix-tabs-nav-tab {
                flex: 1;
                font-size: 16px;
                justify-content: flex-start;

                &.ix-tabs-nav-tab-selected {
                  .ix-tabs-nav-tab-label {
                    color: #2f3540;
                  }
                }
                &:not(.ix-tabs-nav-tab-selected) {
                  .ix-tabs-nav-tab-label {
                    color: #6f7785;
                  }
                }
              }
            }
          }

          .phone-input {
            .ix-input-addon {
              border-right: none;
              background-color: #fff;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                background-color: #d3d7de;
                height: 16px;
                width: 1px;
                top: 28%;
                right: 0;
                transition: all 0.24s cubic-bezier(0.37, 0, 0.63, 1);
              }
            }

            .ix-input-inner {
              border-left: none;
            }

            &.ix-input-invalid {
              &.ix-input,
              &:hover {
                .ix-input-addon::after {
                  background-color: var(--ix-color-red-d10);
                }
              }
            }

            &.ix-input-focused,
            &:hover {
              .ix-input-addon::after {
                height: 100%;
                top: 0;
                background-color: #458fff;
              }
            }
          }

          .ix {
            &-checkbox {
              font-size: 14px;
            }

            &-form-item-message {
              min-height: 12px;
            }
          }
        }

        &-qrcode {
          width: 100%;
          height: 360px;
          border-radius: 4px;
          border: 1px solid #d3d7de;
          position: relative;
          margin-top: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          &-title {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            background-color: #fff;
            padding: 0 16px;
            font-size: 24px;
            top: 0;
          }

          &-tip {
            color: #454c59;
          }

          img {
            width: 220px;
            height: 220px;
          }
        }
      }

      .other-login-wrapper {
        width: 70%;
        margin: 38px auto;
        position: relative;

        .ix {
          &-divider-label {
            color: #a1a7b2;
          }

          &-row {
            margin: auto;
          }
        }

        .other-login-nav-pre,
        .other-login-nav-next {
          position: absolute;
          font-size: 16px;
          color: #5e6573;
          cursor: pointer;
          height: 32px;
          display: flex;
          align-items: center;
          z-index: 1;

          &:hover {
            color: var(--ix-text-color);
          }
        }
        .other-login-nav-pre {
          left: -8px;
        }

        .other-login-nav-next {
          right: -6px;
        }
        .other-login-nav-wrapper {
          position: relative;
          display: inline-block;
          display: flex;
          flex: auto;
          align-self: stretch;
          overflow: hidden;
          white-space: nowrap;
          transform: translate(0);

          .other-login-nav-list {
            position: relative;
            display: flex;
            transition: transform 0.3s;

            .other-login-nav {
              width: 62px;
            }
          }
        }
      }

      .switch-type-btn {
        margin-top: 24px;
        color: #6f7785;

        .ix-icon {
          margin-top: 1px;
        }
      }
    }

    &-footer {
      position: absolute;
      right: 20px;
      left: 20px;
      bottom: 0;
      padding-bottom: 12px;
      color: #bec3cc;
      background-color: #fff;
      text-align: center;
    }
  }

  @media (max-width: 1279px) or (min-width: 2566px) {
    .login-box-header-logo {
      display: block;
    }

    .login-banner-wrapper {
      display: none;
    }

    .login-box {
      width: 100%;

      .login-inner-box {
        width: 450px;
        margin: auto;
      }
    }
  }

  @media (min-width: 1280px) and (max-width: 1365px) {
    .login-box {
      width: 30%;
    }
  }

  @media (min-width: 1366px) and (max-width: 1439px) {
    .login-box {
      width: 35%;
    }
  }

  @media (min-width: 1440px) and (max-width: 1919px) {
    .login-box {
      width: 40%;
    }
  }

  @media (min-width: 1920px) and (max-width: 2562px) {
    .login-box {
      width: 50%;
    }
  }
}
