.tree-table-page {

    .@{idux-prefix}-table {
        padding: 16px 16px 0;
        border: 1px solid #E1E5EB;
        border-radius: 4px;
        margin-left: -2px;

         .search-input {
            .@{idux-prefix}-input-addon {
                background-color: #1C6EFF;
                border-color: #1C6EFF;
                cursor: pointer;
            }
            .@{idux-prefix}-icon {
                font-size: 16px;
                color: #fff;
            }
        }
    }
    .@{idux-prefix}-layout-sider {
        width: 276px;
    }
    .@{idux-prefix}-layout-sider-collapsed {
        width: 44px;
    }
    .@{idux-prefix}-pro-tree {
        background-color: #fff;
        border-radius: 4px 0 0 4px;

        .@{idux-prefix}-header-suffix {
            align-self: center;
        }

        .@{idux-prefix}-header-title {
            .@{idux-prefix}-icon {
                color: #BEC3CC;
            }
        }

        .@{idux-prefix}-tree-node-content-prefix {
            padding-left: 8px;
        }
        
        .add-btn {
            color: #1c6eff;
        }
    }
}